*.bak
*.pyc
*.txt
*.csv
.coverage
.cache
*.swp
*.tsv
htmlcov
*.log
*.class
json-loader/.gradle
json-loader/build
bin/
lib/
lib64
*.egg-info*
include/
!requirements.txt
!all_requirements.txt
tags
man
pylint.out
cover/
build/
.idea*
dist/
pip-selfcheck.json
.agignore
.project
.pydevproject
*.zip
*.gz
pyvenv.cfg
.venvs
